<!-- <form #productForm="ngForm" (ngSubmit)="onFormSubmit(productForm)">
	<div class="form-group">
	  <label for="category">Category</label>
	  <input
			[(ngModel)]="product.category"
			type="text"
			name="category"
			id="category"
			class="form-control"
			required>
    <small
			[hidden]="productForm.controls.category?.valid"
			id="helpCategory"
			class="text-muted">
		 Kötelező kitölteni
		</small>
    <button
			[disabled]="productForm.invalid"
			type="submit"
			class="btn btn-block btn-primary">
	<i class="fa fa-save"></i>
</button>
	</div>
</form> -->
